# Dependencies
node_modules

# Build outputs
**/.next
**/.turbo
**/dist
**/out
.next
.turbo

# Environment
.env
.env.local
.env*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Testing
coverage
